appdirs==1.4.4
astroid==2.2.5
attrs==20.1.0
black==19.10b0
bleach==3.1.5
Brotli==1.0.7
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coloredlogs==14.0
cryptography==3.1
dash==2.6.1
dash-bootstrap-components==0.10.5
-e git+https://github.com/Tauffer-Consulting/dash-cool-components.git@d78b12684f250bda0b386bf226f860284fcb2bb2#egg=dash_cool_components
dash-core-components==2.0.0
dash-dangerously-set-inner-html==0.0.2
dash-flow-example==0.0.5
dash-html-components==2.0.0
dash-renderer==1.7.0
dash-table==5.0.0
docutils==0.16
entrypoints==0.3
fire==0.2.1
flake8==3.7.9
Flask==1.1.2
Flask-Compress==1.5.0
future==0.18.2
humanfriendly==8.2
idna==2.10
importlib-metadata==1.7.0
isort==4.3.21
itsdangerous==1.1.0
jeepney==0.4.3
Jinja2==2.11.2
keyring==21.4.0
lazy-object-proxy==1.5.1
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.1
packaging==20.4
pathspec==0.8.0
pkginfo==1.5.0.1
plotly==5.10.0
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
Pygments==2.6.1
pylint==2.3.1
pyparsing==2.4.7
PyYAML==5.3
readme-renderer==26.0
regex==2020.7.14
requests==2.24.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
SecretStorage==3.1.2
six==1.15.0
tenacity==8.0.1
termcolor==1.1.0
toml==0.10.1
tqdm==4.48.2
twine==3.2.0
typed-ast==1.4.1
urllib3==1.25.10
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
